In [1]:
import pandas as pd
import os
from glob import glob

In [3]:
# all raw files 
raw_data_path = "../data/raw"

csv_files = glob(os.path.join(raw_data_path, "*.csv"))

if not csv_files:
    print("Не найдено CSV-файлов в указанной директории.")
else:
    print(f"Найдено {len(csv_files)} файлов. Начинаю объединение...")

    dataframes = []
    for file in csv_files:
        df = pd.read_csv(file)
        dataframes.append(df)

    combined_df = pd.concat(dataframes, ignore_index=True)

Найдено 11 файлов. Начинаю объединение...

# Инверсирование левой руки

In [ ]:

# # Найдём записи левой руки
# left_hands = combined_df[combined_df['is_right_hand'] == 0]

# # Меняем x-координаты
# for i in range(21):  # 21 точка
#     combined_df.loc[combined_df['is_right_hand'] == 0, f'x{i}'] = 1.0 - combined_df[f'x{i}']

# # заменить is_right_hand = 0 на 1
# # combined_df.loc[combined_df['is_right_hand'] == 0, 'is_right_hand'] = 1

# Сохранение в файл
Сохранение в новый файл, в который все сохранить

In [21]:
# new file
output_file = "../data/processed/data.csv"
combined_df.to_csv(output_file, index=False)
print(f"Готово! Итоговый файл сохранён в {output_file}. Размер: {combined_df.shape}")

Готово! Итоговый файл сохранён в ../data/processed/data.csv. Размер: (12000, 65)

# Анализ полученных данных

In [12]:
print(f"Total number of samples: {len(combined_df)}\n")

Total number of samples: 6000

In [13]:
combined_df.describe()

,x0,y0,z0,x1,y1,z1,x2,y2,z2,x3,...,x18,y18,z18,x19,y19,z19,x20,y20,z20,is_right_hand
count,6000.0,6000.0,6000.0,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,...,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000
mean,0.0,0.0,0.0,0.000975,-0.109420,-0.042415,-0.000173,-0.240223,-0.082192,-0.002507,...,0.017229,-0.265792,-0.146814,0.016280,-0.264688,-0.131943,0.015415,-0.282592,-0.115913,0.500000
std,0.0,0.0,0.0,0.098980,0.181444,0.036568,0.179234,0.361788,0.044983,0.224844,...,0.392509,0.287512,0.059729,0.388692,0.334954,0.062377,0.395098,0.378640,0.069472,0.500042
min,0.0,0.0,0.0,-0.179460,-0.303609,-0.125593,-0.323395,-0.584398,-0.198889,-0.460472,...,-0.621540,-0.671023,-0.289559,-0.745620,-0.752970,-0.301685,-0.860330,-0.860413,-0.316711,0.000000
25%,0.0,0.0,0.0,-0.089812,-0.269412,-0.079326,-0.172613,-0.539265,-0.124416,-0.242000,...,-0.258257,-0.564920,-0.195781,-0.242943,-0.668310,-0.183220,-0.223032,-0.757068,-0.163670,0.000000
50%,0.0,0.0,0.0,0.010028,-0.149213,-0.037936,0.002924,-0.351387,-0.061339,0.007150,...,0.013877,-0.330292,-0.141313,0.034523,-0.241093,-0.126041,0.025803,-0.200581,-0.109032,0.500000
75%,0.0,0.0,0.0,0.096935,-0.050205,-0.013202,0.172188,-0.173669,-0.049437,0.218752,...,0.289556,0.052039,-0.103640,0.251179,0.081583,-0.077900,0.253392,0.083510,-0.066470,1.000000
max,0.0,0.0,0.0,0.191083,0.281350,0.030595,0.275906,0.551679,0.005661,0.337816,...,0.627466,0.228980,-0.003664,0.760525,0.304158,0.005040,0.870377,0.356846,0.027853,1.000000

In [14]:
gesture_counts = combined_df['gesture'].value_counts()
print("Gesture distribution:")
print(gesture_counts, "\n")

Gesture distribution:
gesture
don         1000
if          1000
question    1000
mafia       1000
cool        1000
civilian    1000
Name: count, dtype: int64